#header {
    border-color: #B2A750;
    background: #F0E380;
}

.diff .file {
    border-color: #000000;
}

.diff .file-header {
    background: #DCDCDC;
    border-color: #999999;
}

.diff .margin {
    background: #DCDCDC;
}

.diff .content {
    border-color: #999999;
}

.diff .content-added {
    background: #B3F6AF;
}

.diff .content-removed {
    background: #F6B1AF;
}

.diff .content-hunk {
    background: #DCEDEE;
}

.diff .content-context {
    background: #f5f5f5;
}

ul.comments .header {
    background: #DCDCDC;
    border-color: #999999;
}

.comment-form {
    background: #cccccc;
}

#line-comment-form {
    background: #f4f4f4;
    border-color: #cccccc;
}

#line-comment-form .comment-form {
    background: #f4f4f4;
}

.line-comments {
    background: #f4f4f4;
    border-color: #cccccc;
}
