#header {
  border-color: #B2A750;
  background: #F0E380;
}

.diff .file {
    border-color: #000000;
}

.diff .margin {
    background: #DCDCDC;
    border-color: #999999;
}

.diff .file-header {
    background: #DCDCDC;
    border-color: #999999;
}

.diff .line-added {
    background: #B3F6AF;
}

.diff .line-removed {
    background: #F6B1AF;
}

.diff .line-hunk {
    background: #DCEDEE;
}

.diff .line-context {
    background: #f5f5f5;
}

ul.comments .header {
    background: #DCDCDC;
    border-color: #999999;
}

.comment-form {
    background: #cccccc;
}

.line-comments {
    background: #f4f4f4;
    border-color: #cccccc;
}
