.diff {
    font-family: Monospace;
}

.diff .file {
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diff .file-header {
    padding: 5px;
    border-bottom: 1px solid;
}

.diff .line-added   { height: 20px; }
.diff .line-removed { height: 20px; }
.diff .line-hunk    { height: 20px; }
.diff .line-context { height: 20px; }

.diff .margin {
    float: left;
    width: 50px;
    height: 20px;
    border-right: 1px solid;
}

.diff .margin-content {
}

.diff .margin-content img {
}

pre {
    margin: 0px;
    padding: 2px;
}
