#header {
  padding: 5px;
  height: 16px;
  border-bottom: 1px solid;
}

#content {
  margin-top: 18px;
  margin-bottom: 18px;
}

#line-comment-form {
    display: none;
    position: fixed; 
    width: 300px;
}

#line-comment-form textarea {
    width: 300px;
    height: 80px;
}
