$def with(content)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>$site_name</title>
    <script type="text/javascript" src="/static/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/comments.js"></script>
    <link rel="stylesheet" href="/static/css/libs/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/libs/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/static/css/libs/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/colors.css">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="span-24">
          <b>$site_name</b> | <a href="/">Review list</a>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <div class="span-24">
        $:content
      </div>
    </div>
  </body>
</html>
