$def with(review)

<a href="/">Return to list</a>

<h1>Review: $review.name</h1>

<div id="diff-container"></div>

<ul>
$for comment in review.comments:
    <li>$comment.text (by <b>$comment.user</b> at $comment.date)</li>
</ul>

<form action="/review/$review.id_/add_comment" method="post">
    Your name: <input type="text" name="author" /><br />
    <textarea name="comment"></textarea>
    <input type="submit" value="Send" />
</form>

<script type="text/javascript">
$$(document).ready(function () {
    DiffLoader.load($review.id_, $$("#diff-container"));
});
</script>
