$def with(review)

<h1>Review: $review.title</h1>

<div id="line-comment-form">
</div>

<div class="diff">
$for file in review.parsed_diff().files:
    <div class="file">
        <div class="file-header">$file.old <b>&gt;</b> $file.new</div>
        <table>
        $for line in file.lines:
            <tr class="line line-number-$line.number">
                <td class="margin">
                    <a name="$line.number" />
                    <a href="#" id="add-comment-$line.number" class="add-comment">
                        <img border="0" src="/static/images/add.png" />
                    </a>
                </td>
                <td class="margin">
                    <img border="0" src="/static/images/comment.png" class="has-comment" />
                </td>
                <td class="content content-$line.type_">
                    <pre>$line.content</pre>
                </td>
            </tr>
        </table>
    </div>
</div>

<h2>Comments</h2>

<ul class="comments">
$for comment in review.comments:
  <li>
    <div class="header">
      by <b>$comment.author</b> at $comment.formatted_date()
      $if comment.is_line_comment():
        <a href="#$comment.line_number">comment on line</a>
    </div>
    <div class="body">
      $comment.text
    </div>
  </li>
</ul>

<h2>Post comment</h2>

<form action="/review/$review.id_/add_comment" method="post" class="add-comment-form">
  <input type="hidden" name="line_number" value="-1" />
  <div class="comment-form">
    <div class="header">
      Your name: <input type="text" name="author" />
    </div>
    <textarea name="comment"></textarea>
  </div>
  <input type="submit" value="Send" />
</form>

<script type="text/javascript">
$$(document).ready(function () {
    initComments($review.id_);
});
</script>
